<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team9Project - Food -</title>
    <link rel="stylesheet" href="/static/Home.css" />
  </head>
  <body>
    <!-- 상단 네비게이션 바 -->
    <header class="top-nav">
      <div class="nav-left">
        <span class="form-title-text">미식의 왕</span>
      </div>

      <div class="nav-right">
        <div class="profile-icon">
          <svg width="32" height="32" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
            />
          </svg>
        </div>
      </div>
    </header>
  </body>
</html>
